<div class="whiteBoard-container">

	<!----------------------------------------------------------------
		board-nav
	--------------------------------------------------------------- -->
	<div class="navbar_container">
		<app-board-nav></app-board-nav>
	</div>

	<!----------------------------------------------------------------
		board-slide-view
	--------------------------------------------------------------- -->
	<div class="sidebar_container">
    <app-board-slide-view ></app-board-slide-view>
	</div>

	<!----------------------------------------------------------------
		board-canvas
	--------------------------------------------------------------- -->
	<div class="wb_container">
		<div id="wb-main" class="wb-main">
			<app-board-canvas></app-board-canvas>

			<!------------------------------------------
				Floating Fab buttons
				- zoom
			------------------------------------------ -->
			<div class="fabs_container">
				<app-board-fabs></app-board-fabs>
			</div>
		</div>

	</div>

	<!----------------------------------------------------------------
		board-fabs
	--------------------------------------------------------------- -->

</div>
